<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Video Chat</title>
  <script type="text/javascript" src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js"></script>
</head>
<body>
  <h1><%= greeting %></h1>
</body>
</html>
